@model IEnumerable<Campaign.Models.OrganizationModel>

<div class="pcoded-wrapper">
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">

                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html"><i class="fa-solid fa-house"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Organization Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ configuration table ] start -->
                        <!-- [ Fixed Header ] start -->
                        <div class="col-sm-12">
                            <div class="card code-table">
                                @* <div class="card-header cursor" data-toggle="collapse" href="#quick-search" aria-expanded="true">
                                <h5>Quick Search</h5>
                                <div class="card-header-right">

                                <p class="float-right m-t-5"><i class="fas fa-chevron-down  fa-1x "></i></p>
                                </div>
                                </div>
                                <div class="collapse show">
                                    <div class="card-block">
                                        <form id="OrgQuickSearchForm">
                                            <div class="row">
                                                <div class="col-md-2 ">
                                                    <label>From</label>
                                                    <input type="date" class="form-control" name="FromDate" placeholder="Start Date">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>To</label>
                                                    <input type="date" class="form-control" name="ToDate" placeholder="From">
                                                </div>
                                                <div class="col-md-2 mt-6">
                                                    <input type="text" class="form-control" name="Id" placeholder="Organization ID">
                                                </div>
                                                <div class="col-md-2 mt-6">
                                                    <input type="text" class="form-control" name="UserName" placeholder="Username">
                                                </div>
                                                <div class="col-md-2 mt-6">
                                                    <button id="btnOrgFilter" type="button" class="btn btn-md btn-primary form-control quick-btn">Search</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> *@
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="m-b-10">Organization Details</h5>
                                    <div class="card-header-right">
                                        <a href="@Url.Action("CreateOrganization")" data-toggle="modal" data-target="#add-new">
                                            <button type="button" class="btn btn-primary btn-shadow-2 btn-sm"><i class="fa-solid fa-plus"></i>Add Organization</button>
                                        </a>

                                        <div class="btn-group card-option">
                                            <a href="@Url.Action("OrganizationField")" data-toggle="modal" data-target="#add-new">
                                                <button type="button" class="btn btn-primary btn-shadow-2 btn-sm"><i class="fa-solid fa-plus"></i>Select Organization Field</button>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-block">
                                    <!-- <div class="table-responsive">
                                        <table id="zero-configuration" class="display table nowrap table-striped table-hover text-center" style="width:100%">
                                            <thead class=""> -->
                                    @* <partial name="_PaginationHeader" model="Model.Data" /> *@

                                    <div id="MerchantTableWrapper" class="table-responsive">
                                        <!-- Merchant List Table -->
                                        <partial name="_OrganizationList" model="Model" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- [ Fixed Header ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/admin.pagination.js" asp-append-version="true"></script>
    <script src="~/js/admin.users.js" asp-append-version="true"></script>

@*     <script>
        $(document).ready(function () {

            /* Custom Handlers */
            $('#OrgQuickSearchForm').on('submit', function (e) {
                e.preventDefault();
                e.stopPropagation();
            })

            $('#btnOrgFilter').on('click', function (e) {
                e.preventDefault();
                Pagination.getData();
                return false;
            });
        }
                        });
    </script> *@
}
